.container {
  width: 503px;
  height: 52px;
  padding: 8px;
  background: #e7e2df;
  border: 1px solid #000;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
  flex-direction: column;
}

.label {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
}

.inputField {
  flex-grow: 1;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  color: #000;
  width: 100%;
}

.inputField::placeholder {
  color: transparent;
}

.inputField:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.inputField:focus {
  outline: none;
}

/* Style for when input is not focused and empty */
.inputField:not(:focus):placeholder-shown {
  padding: 16px;
  border: 2px solid #000;
  background: #e7e2df;
}
