.carousel-layout {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 120px;
  padding-bottom: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  display: inline-flex;
}

.text-layout {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: flex;
}

.Chanel202223MTiersDArt {
  color: black;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.54px;
  word-wrap: break-word;
}

.AmarAkwayChanel202223MTiersDArt {
  text-align: center;
  color: #8b8885;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.24px;
  word-wrap: break-word;
}

.Frame2 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 32px;
  display: inline-flex;
}

.Image4 {
  width: 240px;
  height: 359.73px;
  border-top-left-radius: 48px;
  border-bottom-right-radius: 48px;
  border: 0.5px black solid;
}

.Image1 {
  width: 307px;
  height: 479px;
  border-top-left-radius: 48px;
  border-bottom-right-radius: 48px;
  border: 0.5px black solid;
}

.Image2 {
  width: 480px;
  height: 719.13px;
  border-top-left-radius: 48px;
  border-bottom-right-radius: 48px;
  border: 0.5px black solid;
}

.Image3 {
  width: 320px;
  height: 479.42px;
  border-top-left-radius: 48px;
  border-bottom-right-radius: 48px;
  border: 0.5px black solid;
}
.Image5 {
  width: 240px;
  height: 359.56px;
  border-top-left-radius: 48px;
  border-bottom-right-radius: 48px;
  border: 0.5px black solid;
}
