.header {
  padding-top: 88px;
  padding-bottom: 56px;
  padding-left: 32px;
  padding-right: 32px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.title {
  text-align: center;
  color: black;
  font-size: 164px;
  font-weight: 700;
  letter-spacing: 2.46px;
  word-wrap: break-word;
  margin: 0px;
}

.subscribe-button {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: black;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: inline-flex;
  cursor: pointer;
}

.subscribe-label {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  margin: 0;
}
